.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: scroll;
}

.list::-webkit-scrollbar {
    width: var(--sm);
    border-radius: var(--sm);
    background-color: var(--clr-accent);

}

.list::-webkit-scrollbar-thumb {
    background-color: var(--clr-main);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    ;
    border-radius: var(--sm);
}

.footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: var(--sm);

}

.footer .number {
    border: 1px solid var(--clr-accent);
    padding: 0.3rem;
    transition: 0.3s;
    cursor: pointer;
}

.footer .number:hover {
    background-color: var(--clr-accent);
    color: var(--clr-light);
}



@media screen and (max-width: 468px) {
    
}